@import url("https://fonts.googleapis.com/css?family=Share+Tech+Mono");

body {
  max-width: 960;
  margin: 0 auto;
  padding: 1em;
}
body, h1, button, input {
  font-family: 'Share Tech Mono', monospace;
}

button {
  display: inline-block;
  text-transform: uppercase;
  background: #252729;
  color: #fff;

  border: 1px solid #252729;
  padding: 1em;
}
button:hover {
  cursor: pointer;
}
button:focus {
  outline: none;
}

input {
  width: 200px;
  padding: 1em;
  display: inline-block;
  text-transform: uppercase;
}

.action {
  text-align: center;
}